/*
2014 material design colors from https://material.io/design/color/the-color-system.html#tools-for-picking-colors
Create a stylesheet that sets the following custom properties, and then imports this theme.
For example dark blue,
:root {
    --color-light-blue: #64B5F6;	  300
    --color-light-green: #64B5F6;	  300
    --color-light-magenta: #64B5F6;	300
    --color-light-purple: #64B5F6;	300
    --color-400: #42A5F5;           400
    --color-blue: #2196F3;		      500
    --color-green: #2196F3;		      500
    --color-yellow: #2196F3;		    500
    --color-magenta:  #1E88E5;		  600
    --color-red: #1565C0;		        800
    --color-dark-green: #1565C0;	  800
    --color-A200: #448AFF;          A200
    --color-A400: #2979FF;          A400
    --color-purple: #2962FF;		    A700
    
    --color-dark-blue: #181818;
    --color-dark-red: #181818;
    --movie-overlay: radial-gradient(circle at 20% 50%, rgba(0, 0, 0, 1) 5.46%, rgba(21, 101, 192, 0.46));    800
    --background-pipe: url("../../img/pipes/blue.png");
    --gradient-background: radial-gradient(at 30% top, #072e46 0%, #081c24 70%);
}
*/

body {
  background-color: #181818;
}

.btn-primary,
.btn-danger,
.label-primary {
  background-color: #222222;
  background-image: none;
}

.btn-info,
.label-info {
  background-color: #222222;
  background-image: none;
}

.btn-success {
  background-color: #222222;
  background-image: none;
}

.btn-warning {
  background-color: #222222;
  background-image: none;
}

.btn:active,
.btn:hover,
.btn:focus,
.btn:active:hover,
.btn:active:focus,
.btn:active:hover:focus {
  background-color: var(--color-light-purple) !important;
  background-image: none;
}

.btn:active i,
.btn:hover i,
.btn:focus i,
.btn:active:hover i,
.btn:active:focus i,
.btn:active:hover:focus i {
  color: #fff !important;
}

#hoeapp-wrapper,
#main-content,
.inner-content {
  background-color: #141414;
}

.hoe-right-header[hoe-color-type='header-bg5'] {
  background: #181818;
}

#hoeapp-container[hoe-color-type='lpanel-bg5'].hoe-minimized-lpanel #hoe-left-panel {
  background: #181818;
}
.ratio-bar {
  background-color: #181818;
}

.badge-user {
  background-color: #222222;
}

.ratio-bar .badge-user {
  background-color: #222222;
}

.nav-tabs > #active {
  background-color: var(--color-dark-green);
}

.btn-primary :hover {
  background-color: var(--color-light-purple);
}

/* dark header menus */
.hoe-right-header .hoe-rheader-submenu > .dropdown-menu > li {
  border-bottom: none;
}

.hoe-right-header .hoe-rheader-submenu > .dropdown-menu > li > a,
.hoe-right-header .hoe-rheader-submenu > .dropdown-menu > li > a > .fa {
  color: #fff;
}

.hoe-left-header,
#hoeapp-container[hoe-color-type='lpanel-bg5'] #hoe-left-panel,
#hoeapp-container[hoe-color-type='lpanel-bg5'] #hoe-left-panel .panel-list > li > a,
.hoe-right-header .hoe-rheader-submenu > .dropdown-menu > li > a {
  background: #181818;
}

.hoe-right-header .hoe-rheader-submenu > .dropdown-menu > li > a:focus,
.hoe-right-header .hoe-rheader-submenu > .dropdown-menu > li > a:hover,
#hoeapp-container[hoe-color-type='lpanel-bg5'] #hoe-left-panel .panel-list > li > a:hover {
  background: #181818;
}

#hoeapp-container[hoe-color-type='lpanel-bg5'] #hoe-left-panel .panel-list > li > a {
  border-top: 1px solid #181818;
}

.text-green {
  color: #0fd14b;
}

.text-muted {
  color: #999;
}

i.torrent-icon,
.carousel-control > .glyphicon {
  color: var(--color-blue);
}

.col-md-10 {
  background-color: #181818;
  margin-top: 5px;
  padding-top: 10px;
}

.panel-chat > .panel-body > #frame > .content {
  background-color: #181818;
}

#l-footer {
  background-color: #141414;
  min-height: 200px;
}

#l-footer a {
  color: #ddd;
}

.notify .point {
  background-color: var(--color-A400);
}

.notify .heartbit {
  border: 4px solid var(--color-A200);
}

.message-sent .message-headers,
.message-unread .message-headers,
.message-sent .message-body,
.message-unread .message-body {
  background-color: #404040;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
.topic-info {
  color: #fff;
}

.progress-bar {
  background-color: var(--color-magenta);
  border-bottom: 4px solid var(--color-red) !important;
}

select,
select option {
  background-color: #2b2b2b !important;
}

.form-control {
  background-color: #2b2b2b;
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0);
}

.form-control:focus {
  box-shadow: 0 0 0px var(--color-light-blue);
  border: 0px solid var(--color-light-blue);
}

.form-control > option {
  background-color: #616161;
}

.bbcode-code,
.bbcode-quote {
  border: 1px solid var(--color-light-blue);
}

.bbcode-quote {
  margin: 0 15px 15px 15px;
}

.movie-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--movie-overlay);
}

.text-info,
.footer-icon {
  color: #ddd;
}

.badge-extra {
  border: 1px solid #282828;
  border-radius: 3px;
  background-color: #282828;
}

.text-bright {
  color: #fefefe;
}

a.text-bright:focus,
a.text-bright:hover {
  color: #fcfcfc;
}

.text-purple,
.text-orange,
.text-success,
.text-pink,
.fa-coins {
  color: #ddd;
}

.text-danger {
  color: #996666;
}

.alert-danger,
.panel-danger,
.panel-danger > .panel-heading,
.alert-success,
.panel-success,
.panel-success > .panel-heading,
.alert-primary,
.panel-primary,
.panel-primary > .panel-heading,
.alert-warning,
.panel-warning,
.panel-warning > .panel-heading,
.alert-default,
.panel-default,
.panel-default > .panel-heading,
.alert-info,
.btn-info,
.panel-info,
.panel-info > .panel-heading {
  background-color: #181818 !important;
}

.alert-info {
  border-color: #181818;
}

.alert {
  color: #ddd;
}

.alert > h2,
.alert > h2 > strong,
.panel > .panel-heading > h2,
.panel > .panel-heading > h4,
.panel > .panel-heading > div > h2,
.panel > .panel-heading > div > h4,
.movie-title > a {
  color: #ddd;
}

.panel-chat > .panel-heading > h4 {
  color: #fff;
}

.panel-collapse > .panel-heading {
  background-color: #1b1b1b !important;
}

.badge-user {
  border-radius: 3px;
}

.container.box {
  background: #181818;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.list-inline {
  color: inherit;
}

.gradient.silver,
.gradient.pink,
.gradient.purple,
.gradient.green,
.gradient.teal,
.gradient.light_blue,
.gradient.blue,
.gradient.orange,
.gradient.yellow,
.gradient.red {
  background-image: var(--gradient-background);
}

div.item span {
  color: #ddd !important;
}

div.header.silver div.inner_content,
div.header.pink div.inner_content,
div.header.purple div.inner_content,
div.header.green div.inner_content,
div.header.teal div.inner_content,
div.header.light_blue div.inner_content,
div.header.blue div.inner_content,
div.header.orange div.inner_content,
div.header.yellow div.inner_content,
div.header.red div.inner_content,
#l-footer {
  background-image: var(--background-pipe) !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #181818;
}

::-webkit-scrollbar-thumb {
  background: var(--color-blue);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-blue);
}

/* history table restores */
.table > tbody > tr > td.text-green {
  color: #0fd14b !important;
}

.table > tbody > tr > td.text-red {
  color: #ff0039 !important;
}

.nav-tabs > li > a,
td,
thead {
  background-color: #222222;
}

.nav-tabs {
  background-color: #181818;
}

td,
thead,
th {
  background-color: #181818;
}

.panel-body,
.table-striped > tbody > tr,
.table > tbody > tr.info > td {
  background-color: #181818;
}

.breadcrumb {
  background-color: #181818;
}

#frame .content .messages ul li {
  border-bottom: 1px dashed rgba(0, 0, 0, 0);
}

table > tbody > tr {
  border-bottom: 1px dotted rgba(0, 0, 0, 0);
}

a[href*='forums/topics'] {
  color: #ddd;
}

table > tbody > tr > td span.text-orange {
  color: #ddd;
}

table > tbody > tr > td i.fas.fa-ribbon {
  color: #ffb800;
}

table > tbody > tr > td span.text-green {
  color: #0fd14b;
}

i.fas.fa-robot.has-tooltip {
  color: var(--color-blue);
}

a.has-tooltip {
  color: #ddd !important;
}

.panel-footer {
  border: 1px solid #181818;
}

.list-group-item,
.panel-footer {
  background-color: #181818;
}

#topic-response,
.wysibb-body {
  background-color: #181818;
}

.wysibb,
.wysibb-text,
.wysibb-toolbar {
  background-color: #222222;
  color: #ddd;
}

.wysibb {
  border: 1px solid #181818 !important;
}

.wysibb-toolbar {
  border-bottom: 0px solid #181818 !important;
}

#hoeapp-wrapper {
  color: #aaa;
}

.wysibb-toolbar-container {
  border-right: 5px solid #222222 !important;
}

table.table > tbody > tr > td span.label.label-success {
  background-color: #282828;
  color: #ddd;
}

table.table > tbody a[href*='digital/torrents'] {
  color: #ddd;
}

table.table > tbody a[href*='digital/users'] {
  color: #ddd;
}

span.badge-extra > i[data-original-title='Enviado por'] {
  color: #0fd14b;
}

span.badge-extra > i[data-original-title='Uploader'] {
  color: #0fd14b;
}

span.badge-extra > i[data-original-title='Agradecimentos'] {
  color: #ff0039;
}

span.badge-extra > i[data-original-title='Comentários'] {
  color: #2780e3;
}

span.badge-extra > i[data-original-title='Ficha de Freeleech'],
span.badge-extra > i[data-original-title*='torrent.freeleech'] {
  color: #c4ea08;
}

span.badge-extra > i[data-original-title='Dual Áudio'],
span.badge-extra > i[data-original-title*='torrent.stream-optimized'] {
  color: #e91ee8;
}

span.badge-extra > i[data-original-title='Upload duplo'],
span.badge-extra > i[data-original-title*='torrent.double-upload'] {
  color: #d3b96a;
}

span.badge-extra > i[data-original-title='Free'] {
  color: #ffb800;
}

span.badge-extra > i[data-original-title='Quente!'] {
  color: #ff7518;
}

span.badge-extra > i[data-original-title='Fixado'],
span.badge-extra > i[data-original-title*='torrent.sticky!'] {
  color: #5bec43;
}

span.badge-extra > i[data-original-title='Destaque'],
span.badge-extra > i[data-original-title*='torrent.featured'] {
  color: #c4ea08;
}

span.badge-extra > i[data-original-title='Gênero'] {
  color: #676767;
}

span.badge-extra > i[data-original-title='Altas Velocidades'],
span.badge-extra > i[data-original-title*='common.high-speeds'] {
  color: #8b998a;
}

button[data-original-title='Baixar'] {
  color: var(--color-blue);
}

span[data-original-title='Bookmark Torrent'] button {
  color: var(--color-blue);
}

td > span.badge-user > a[href*='digital/users'] {
  color: var(--color-blue) !important;
}

div.container-fluid > ul.list-inline i.fas.fa-arrow-down.text-red {
  color: #ff0039;
}

div.container-fluid > ul.list-inline i.fas.fa-sync-alt.text-blue {
  color: #2780e3;
}

div.container-fluid li i.fas.fa-exclamation-circle.text-orange {
  color: #fffb00;
}

div.container-fluid > ul.list-inline i.fas.fa-coins.text-gold {
  color: #ffb800;
}

div.container-fluid > ul.list-inline i.fas.fa-exchange.text-orange {
  color: #ad98c2;
}

div.container-fluid > ul.list-inline i.fas.fa-download.text-red {
  color: #ff0039;
}

.panel > .nav-tabs > li.active > a {
  color: #fff !important;
}

a[href='#newtorrents'] i {
  color: #fffb00;
}

a[href='#topseeded'] i {
  color: #0fd14b;
}

a[href='#topleeched'] i {
  color: #ff0039;
}

a[href='#dyingtorrents'] i {
  color: #ff0039;
}

i[data-original-title='Requer Reseed'] {
  color: #ffb800 !important;
}

a[href='#deadtorrents'] i {
  color: #ff0039;
}

#frame ul.nav.nav-tabs > li > a > i {
  color: #fff;
}

.panel-heading .label.label-default {
  background-color: #222222;
}

div.item .list-inline > .badge-extra.text-blue i.fa-database {
  color: #fffb00;
}

div.item .list-inline > .badge-extra.text-blue i.fa-clock {
  color: #ff7518;
}

div.item .list-inline > .badge-extra.text-green i.fa-arrow-up {
  color: #0fd14b;
}

div.item .list-inline > .badge-extra.text-red i.fa-arrow-down {
  color: #ff0039;
}

div.item .list-inline > .badge-extra.text-orange i.fa-check-square {
  color: #2780e3;
}

div.item .list-inline span.badge-user.text-bold.text-pink {
  color: var(--color-blue) !important;
}

.color-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(64, 65, 66, 0.404),
    #212120 39.5%,
    rgba(10, 10, 10, 0.89)
  );
  background-blend-mode: multiply;
}

.block,
.well {
  background-color: rgba(30, 30, 30, 0.4);
}

tr.success > td {
  background-color: #181818 !important;
}

.block td {
  background-color: #181818 !important;
}

a[href*='themoviedb'],
a[href*='imdb'],
a[href*='thetvdb'],
a[href*='myanimelist'] {
  color: #ddd;
}

table > tbody > tr > td a[href*='/peers'] span.text-green {
  color: #0fd14b !important;
}

table > tbody > tr > td a[href*='/peers'] span.text-red {
  color: #ff0039;
}

.table.table-condensed.table-bordered.table-striped
  > tbody
  tr
  td
  a[href*='/peers']
  span.badge-extra.text-red.text-bold {
  color: #ff0039;
}

table > tbody > tr > td a[href*='/history'] span.text-orange {
  color: #2780e3 !important;
}

.table.table-condensed.table-bordered.table-striped.table-hover > thead > tr > th {
  color: var(--color-blue);
}

.table.table-condensed.table-bordered.table-striped.table-hover > thead > tr > th i {
  color: #ddd;
}

.table-responsive > .text-center {
  background-color: #181818;
  overflow-x: hidden !important;
}

.table.table-condensed.table-bordered.table-striped > tbody > tr .btn i {
  color: var(--color-blue);
}

.table.table-condensed.table-bordered.table-striped
  > tbody
  tr
  td
  span.badge-user.text-bold.text-pink {
  color: var(--color-blue);
}

.table.table-condensed.table-bordered.table-striped > tbody tr td i.fa-arrow-up {
  color: #0fd14b;
}

.table.table-condensed.table-bordered.table-striped > tbody tr td i.fa-arrow-down {
  color: #ff0039;
}

.table.table-condensed.table-bordered.table-striped > tbody tr td span.badge-extra.text-red {
  color: #ff0039;
}

.table.table-condensed.table-bordered.table-striped > tbody tr td i.fa-check {
  color: #2780e3;
}

.page-content code,
pre {
  background-color: #181818;
  border: 1px solid #222222;
}

a.disabled i {
  color: #ddd !important;
}

#vue.table-responsive i.fa-download {
  color: #0fd14b;
}

#vue.table-responsive i.fa-file {
  color: #a1d6fc;
}

#vue.table-responsive i.fa-heart {
  color: #ff0039;
}

#vue.table-responsive i.fa-bookmark {
  color: #ff7518;
}

#vue.table-responsive i.fa-list-ol {
  color: #fffb00;
}

a[href*='/torrent_feature'].btn.btn-xs i {
  color: #fff !important;
}

table.table.table-condensed.table-striped.table-bordered
  > tbody
  > tr
  > td
  span.badge-extra.text-green.text-bold {
  color: #0fd14b;
}

#newtorrents
  table.table.table-condensed.table-striped.table-bordered
  > tbody
  > tr
  > td
  span.badge-extra.text-green.text-bold,
#topseeded
  table.table.table-condensed.table-striped.table-bordered
  > tbody
  > tr
  > td
  span.badge-extra.text-green.text-bold,
#topleeched
  table.table.table-condensed.table-striped.table-bordered
  > tbody
  > tr
  > td
  span.badge-extra.text-green.text-bold,
#dyingtorrents
  table.table.table-condensed.table-striped.table-bordered
  > tbody
  > tr
  > td
  span.badge-extra.text-green.text-bold,
#deadtorrents
  table.table.table-condensed.table-striped.table-bordered
  > tbody
  > tr
  > td
  span.badge-extra.text-green.text-bold,
#facetedSearch
  table.table.table-condensed.table-striped.table-bordered
  > tbody
  > tr
  > td
  span.badge-extra.text-green.text-bold {
  color: #ddd;
}

.container-fluid
  .block
  > .table-responsive
  table.table.table-condensed.table-striped.table-bordered
  > tbody
  > tr
  > td
  span.badge-extra.text-green.text-bold {
  color: #ddd;
}

table.table.table-condensed.table-striped.table-bordered
  > tbody
  > tr
  > td
  span.badge-extra.text-red.text-bold {
  color: #ff0039;
}

table.table.table-condensed.table-striped.table-bordered
  > tbody
  > tr
  > td
  span.badge-extra.text-orange.text-bold {
  color: #ff7518;
}

.container > .block,
.container > .well {
  background-color: #181818;
}

.profile-footer {
  background-color: #181818;
}

button[data-target='#pid_block'].btn.btn-xxs.btn-info {
  background-color: #222222 !important;
}

.button-holder.some-padding .button-right-large span.text-red {
  color: #ff0039;
}

.button-holder.some-padding .button-right-large i.fa-upload {
  color: #0fd14b;
}

.button-holder.some-padding .button-right-large i.fa-download {
  color: #ff0039;
}

.button-holder.some-padding .button-right-large i.fa-cloud-upload {
  color: #0fd14b;
}

.button-holder.some-padding .button-right-large i.fa-cloud-download {
  color: #ff0039;
}

span[data-original-title='Download Registrado'].text-red {
  color: #aaa !important;
}

span[data-original-title='Upload Registrado'].text-green {
  color: #aaa !important;
}

span[data-original-title='Download Verdadeiro'].text-blue {
  color: #0fd14b !important;
}

span[data-original-title='Upload Verdadeiro'].text-blue {
  color: #0fd14b !important;
}

span[data-original-title='Download Removido da Loja BON'].text-orange {
  color: #ff7518 !important;
}

span[data-original-title='Upload Adicionado da Loja BON'].text-orange {
  color: #ff7518 !important;
}

.block td > .list-inline.mb-0 .badge-extra span.text-green.text-bold {
  color: var(--color-blue);
}

.block td > .list-inline.mb-0 .badge-extra span.text-pink.text-bold {
  color: var(--color-blue);
}

td.text-right .some-padding .badge-user span.text-red.text-bold {
  color: var(--color-blue);
}

a.text-info:hover {
  color: var(--color-light-blue);
}

a:focus {
  color: var(--color-light-blue);
}

#hoeapp-container[hoe-color-type='lpanel-bg5'].hoe-minimized-lpanel
  #hoe-left-panel
  .panel-list
  > li.hoe-has-menu:focus
  > a,
#hoeapp-container[hoe-color-type='lpanel-bg5'].hoe-minimized-lpanel
  #hoe-left-panel
  .panel-list
  > li.hoe-has-menu:hover
  > a {
  background: #222;
}

#hoeapp-container[hoe-color-type='lpanel-bg5']
  #hoe-left-panel
  .panel-list
  li.hoe-has-menu
  > ul.hoe-sub-menu
  li
  > a:focus,
#hoeapp-container[hoe-color-type='lpanel-bg5']
  #hoe-left-panel
  .panel-list
  li.hoe-has-menu
  > ul.hoe-sub-menu
  li
  > a {
  background: #222;
}

#hoeapp-container[hoe-color-type='lpanel-bg5']
  #hoe-left-panel
  .panel-list
  li.hoe-has-menu
  > ul.hoe-sub-menu
  li
  > a:focus,
#hoeapp-container[hoe-color-type='lpanel-bg5']
  #hoe-left-panel
  .panel-list
  li.hoe-has-menu
  > ul.hoe-sub-menu
  li
  > a:hover {
  background: #181818;
}

#hoeapp-container[hoe-color-type='lpanel-bg5'] #hoe-left-panel .panel-list > li.active > a {
  background: #222;
  border-top: 1px solid #1f1f2a;
  color: #fff;
}

a[href='#30days'] i {
  color: #ffb800;
}

div.stats {
  background-color: #181818;
}

table form[action*='bonus/exchange'] > button.btn-exchange {
  background-color: #222222 !important;
}

label.col-sm-1.label.label-default {
  background-color: #222222;
}

.col-sm-10 .inline > span.fas.fa-times-circle.text-blue {
  color: #ff0039;
}

.col-sm-10 .inline > span.fas.fa-hand-paper.text-blue {
  color: #fffb00;
}

.col-sm-10 .inline > span.fas.fa-hand-paper.text-blue {
  color: #fffb00;
}

.col-sm-10 .inline > span.fas.fa-question-circle.text-blue {
  color: #ff7518;
}

.col-sm-10 .inline > span.fas.fa-check-circle.text-blue {
  color: #0fd14b;
}

.table.table-condensed.table-bordered.table-striped > tbody > tr .btn i.fa-times-circle {
  color: #ff0039;
}

.table.table-condensed.table-bordered.table-striped > tbody > tr .btn i.fa-check-circle {
  color: #0fd14b;
}

.table.table-condensed.table-bordered.table-striped > tbody > tr .btn i.fa-hand-paper {
  color: #fffb00;
}

.table.table-condensed.table-bordered.table-striped > tbody > tr .btn i.fa-question-circle {
  color: #ff7518;
}

.card.is-torrent i.fa-arrow-down.text-red {
  color: #ff0039;
}

.card.is-torrent i.fa-download {
  color: #ff0039;
}

.card.is-torrent i.fa-copy {
  color: #a1d6fc;
}

.card.is-torrent i.fa-check.text-orange {
  color: #2780e3;
}

.profil {
  background: #181818;
}

div.head {
  background-color: #222222;
}

button#quote.btn {
  background-color: #222 !important;
}

button#quote.btn:hover {
  background-color: var(--color-light-blue) !important;
}

.post-signature {
  background-color: #222;
  border-top: 2px dashed #222 !important;
}

a[href*='/close'] {
  background-color: #222222 !important;
}

.icon-dislike.fas.fa-thumbs-down.fa-2x {
  color: #ff0039;
}

.fas.fa-envelope.text-info {
  color: var(--color-light-blue);
}

.fas.fa-gift.text-info {
  color: var(--color-light-blue);
}
