/*
2014 material design colors from https://material.io/design/color/the-color-system.html#tools-for-picking-colors
Create a stylesheet that sets the following custom properties, and then imports this theme.
For example dark blue,
:root {
    --color-light-blue: #64B5F6;	  300
    --color-light-green: #64B5F6;	  300
    --color-light-magenta: #64B5F6;	300
    --color-light-purple: #64B5F6;	300
    --color-400: #42A5F5;           400
    --color-blue: #2196F3;		      500
    --color-green: #2196F3;		      500
    --color-yellow: #2196F3;		    500
    --color-magenta:  #1E88E5;		  600
    --color-red: #1565C0;		        800
    --color-dark-green: #1565C0;	  800
    --color-A200: #448AFF;          A200
    --color-A400: #2979FF;          A400
    --color-purple: #2962FF;		    A700
    
    --color-dark-blue: #181818;
    --color-dark-red: #181818;
    --movie-overlay: radial-gradient(circle at 20% 50%, rgba(0, 0, 0, 1) 5.46%, rgba(21, 101, 192, 0.46));    800
    --background-pipe: url("../../img/pipes/blue.png");
    --gradient-background: radial-gradient(at 30% top, #072e46 0%, #081c24 70%);
}
*/

body {
  background-color: var(--color-dark-blue);
}

.btn-primary,
.btn-danger,
.label-primary {
  background-color: #222222;
  background-image: none;
}

.btn-info,
.label-info {
  background-color: #222222;
  background-image: none;
}

.btn-success {
  background-color: #222222;
  background-image: none;
}

.btn-warning {
  background-color: #222222;
  background-image: none;
}

.btn:active,
.btn:hover,
.btn:focus,
.btn:active:hover,
.btn:active:focus,
.btn:active:hover:focus {
  background-color: var(--color-light-purple) !important;
  background-image: none;
}

#hoeapp-wrapper,
#main-content,
.inner-content {
  background-color: var(--color-dark-blue);
}

.hoe-right-header[hoe-color-type='header-bg5'] {
  background: #1f1f1f;
}

#hoeapp-container[hoe-color-type='lpanel-bg5'].hoe-minimized-lpanel #hoe-left-panel {
  background: #1f1f1f;
}

.ratio-bar {
  background-color: #181818;
}

.ratio-bar .badge-user {
  background-color: #222222;
}

.nav-tabs > #active {
  background-color: var(--color-dark-green);
}

.btn-primary :hover {
  background-color: var(--color-light-purple);
}

/* dark header menus */
.hoe-right-header .hoe-rheader-submenu > .dropdown-menu > li {
  border-bottom: none;
}

.hoe-right-header .hoe-rheader-submenu > .dropdown-menu > li > a,
.hoe-right-header .hoe-rheader-submenu > .dropdown-menu > li > a > .fa {
  color: #fff;
}

.hoe-left-header,
#hoeapp-container[hoe-color-type='lpanel-bg5'] #hoe-left-panel,
#hoeapp-container[hoe-color-type='lpanel-bg5'] #hoe-left-panel .panel-list > li > a,
.hoe-right-header .hoe-rheader-submenu > .dropdown-menu > li > a {
  background: #1f1f1f;
}

.hoe-right-header .hoe-rheader-submenu > .dropdown-menu > li > a:focus,
.hoe-right-header .hoe-rheader-submenu > .dropdown-menu > li > a:hover,
#hoeapp-container[hoe-color-type='lpanel-bg5'] #hoe-left-panel .panel-list > li > a:hover {
  background: #151515;
}

#hoeapp-container[hoe-color-type='lpanel-bg5'] #hoe-left-panel .panel-list > li > a {
  border-top: 1px solid #151515;
}

.text-green {
  color: #3fb618;
}
.text-muted {
  color: #999;
}

i.torrent-icon,
.carousel-control > .glyphicon {
  color: var(--color-blue);
}

.col-md-10 {
  background-color: #2b2b2b;
  margin-top: 5px;
  padding-top: 10px;
}

.panel-chat > .panel-body > #frame > .content {
  background-color: var(--color-dark-blue);
}

#l-footer {
  background-color: #1f1f1f;
}

.notify .point {
  background-color: var(--color-A400);
}

.notify .heartbit {
  border: 4px solid var(--color-A200);
}

.message-sent .message-headers,
.message-unread .message-headers,
.message-sent .message-body,
.message-unread .message-body {
  background-color: #404040;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
.topic-info {
  color: #fff;
}

.progress-bar {
  background-color: var(--color-magenta);
  border-bottom: 4px solid var(--color-red) !important;
}

select,
select option {
  background-color: #454545 !important;
}

.form-control {
  background-color: #2b2b2b;
  color: #fff;
  border: 0px solid rgba(0, 0, 0, 0.56);
}
.form-control:focus {
  box-shadow: 0 0 5px var(--color-light-blue);
  border: 1px solid var(--color-light-blue);
}
.form-control > option {
  background-color: #616161;
}

.bbcode-code,
.bbcode-quote {
  border: 1px solid var(--color-light-blue);
}

.bbcode-quote {
  margin: 0 15px 15px 15px;
}

.movie-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--movie-overlay);
}

.text-info,
.footer-icon {
  color: var(--color-400);
}

.badge-extra {
  border: 1px solid rgba(66, 70, 92, 0.61);
  border-radius: 0;
}

.text-bright {
  color: #fefefe;
}

a.text-bright:focus,
a.text-bright:hover {
  color: #fcfcfc;
}

.text-purple,
.text-orange,
.text-success,
.text-pink,
.fa-coins {
  color: var(--color-400);
}

.text-danger {
  color: #996666;
}

.alert-danger,
.panel-danger,
.panel-danger > .panel-heading,
.alert-success,
.panel-success,
.panel-success > .panel-heading,
.alert-primary,
.panel-primary,
.panel-primary > .panel-heading,
.alert-warning,
.panel-warning,
.panel-warning > .panel-heading,
.alert-default,
.panel-default,
.panel-default > .panel-heading,
.alert-info,
.btn-info,
.panel-info,
.panel-info > .panel-heading {
  background-color: var(--color-magenta) !important;
}

.alert {
  color: #424242;
}

.alert > h2,
.alert > h2 > strong,
.panel > .panel-heading > h2,
.panel > .panel-heading > h4,
.panel > .panel-heading > div > h2,
.panel > .panel-heading > div > h4,
.movie-title > a {
  color: #000;
}

.panel-chat > .panel-heading > h4 {
  color: #fff;
}

.panel-collapse > .panel-heading {
  background-color: #1b1b1b !important;
}

.badge-user {
  border-radius: 0;
}

.container.box {
  background: #1f1f1f;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.list-inline {
  color: inherit;
}

.gradient.silver,
.gradient.pink,
.gradient.purple,
.gradient.green,
.gradient.teal,
.gradient.light_blue,
.gradient.blue,
.gradient.orange,
.gradient.yellow,
.gradient.red {
  background-image: var(--gradient-background);
}

div.header.silver div.inner_content,
div.header.pink div.inner_content,
div.header.purple div.inner_content,
div.header.green div.inner_content,
div.header.teal div.inner_content,
div.header.light_blue div.inner_content,
div.header.blue div.inner_content,
div.header.orange div.inner_content,
div.header.yellow div.inner_content,
div.header.red div.inner_content,
#l-footer {
  background-image: var(--background-pipe) !important;
}

/* history table restores */
.table > tbody > tr > td.text-green {
  color: #3fb618 !important;
}
.table > tbody > tr > td.text-red {
  color: var(--color-light-red) !important;
}

/* Custom */

C .hoe-left-header,
#hoeapp-container[hoe-color-type='lpanel-bg5'] #hoe-left-panel,
#hoeapp-container[hoe-color-type='lpanel-bg5'] #hoe-left-panel .panel-list > li > a,
.hoe-right-header .hoe-rheader-submenu > .dropdown-menu > li > a {
  background: #222222;
}

.hoe-right-header[hoe-color-type='header-bg5'] {
  background: #222222;
}

#hoeapp-container[hoe-color-type='lpanel-bg5'] #hoe-left-panel .panel-list > li > a {
  border-top: 1px solid #222222;
}

.list-inline i.fas.fa-arrow-down.text-red::before {
  color: #ff0039;
}

.list-inline i.fas.fa-sync-alt.text-blue::before {
  color: #2780e3;
}

.list-inline i.fas.fa-exchange.text-orange::before {
  color: #ff7518;
}

.list-inline i.fas.fa-download.text-red::before {
  color: #ff0039;
}

.list-inline i.fas.fa.exclamation-circle.text-orange::before {
  color: #ff7518;
}

.ratio-bar .text-orange {
  color: #ff7518;
}

.list-inline i.fas.fa-coins.text-gold::before {
  color: #ffb800;
}

.list-inline i.fas.fa-star.text-gold::before {
  color: #ffb800;
}

.fa-discord::before {
  color: var(--color-blue);
  text-shadow: 0 0 5px var(--color-blue);
}

.ratio-bar {
  background-color: #181818;
}

.breadcrumb {
  background-color: #222222;
}

.col-md-10 > .panel-success > .panel-heading,
.col-md-10 > .panel-info > .panel-heading {
  background-color: #222222 !important;
}

.container-fluid {
  background-color: #181818;
}

.col-md-10 {
  background-color: #222222;
}

.nav.nav-tabs {
  background-color: #181818;
}

.nav .fa.fa-comment {
  color: #fff;
}

a.has-tooltip {
  color: #939393 !important;
}

i.fas.fa-robot.has-tooltip {
  color: var(--color-blue) !important;
}

.bot > .badge-user {
  background-color: #222222;
}

#frame .content .messages ul li {
  border-bottom: 0px dashed #424545;
  margin-top: 2px;
}

.chatTriggers span {
  color: var(--color-blue);
}

#topic-response,
.wysibb-body {
  background-color: #181818;
}

.wysibb,
.wysibb-text,
.wysibb-toolbar {
  background-color: #222222;
  color: var(--text-color);
}

td,
thead {
  background-color: #181818;
}

.table .text-center > span.label.label-success {
  background-color: #222222;
}

.table a[href*='digital/torrents'] {
  color: #ddd;
}

#l-footer {
  background-color: #181818;
  min-height: 200px;
}

#l-footer a {
  color: #ddd;
}

table > tbody > tr {
  border-bottom: 0px dotted #181818;
}

.table thead th {
  background-color: #222222;
}

span.badge-extra {
  color: #ddd;
  border: 1px solid #282828;
  border-radius: 3px;
  background: #282828;
}

td > span.badge-extra > i.fas.fa-upload {
  color: #3fb618;
}

td > span.badge-extra > a[href*='digital/users'] {
  color: #ddd;
}

td > span.badge-extra > i.fas.fa-heart {
  color: #ff0039;
}

span.badge-extra > i.fas.fa-comment {
  color: #2780e3;
}

td > span.badge-extra > i.fas.fa-play {
  color: #ff7518;
}

td > span.badge-extra > i.fas.fa-tachometer {
  color: #a661dc;
}

td > span.badge-extra > i.fas.fa-tag {
  color: #025e68;
}

.panel-body,
.table-striped > tbody > tr,
.table > tbody > tr.info > td {
  background-color: #181818;
}

.panel-body .badge-user {
  border-radius: 3px;
  background-color: #222222;
}

.panel-heading .label-default {
  background-color: #222;
}

.panel > .nav-tabs > li.active > a {
  color: #fff !important;
}

.block,
.well {
  background-color: #222222;
}

tr.success > td {
  background-color: #151515 !important;
}

.block td {
  background-color: #181818 !important;
}

.pagination > .disabled > span,
.pagination > li > a {
  background-color: #181818;
  border: 1px solid #181818;
  color: #ddd;
}

.pagination > .active > a,
.pagination > .active > span {
  background-color: #222222 !important;
  border: 1px solid #222222;
  color: #fff;
}

.container-fluid.well .btn {
  background-color: #181818 !important;
}

.table-bordered span {
  color: #ddd;
}

.table-bordered .badge-user {
  background-color: #222222;
}

.table-bordered a[href*='forums/topics'] {
  color: #ddd;
}

.movie-details a[href*='imdb.com'],
.movie-details a[href*='themoviedb.org'],
.movie-details a[href*='myanimelist'] {
  color: #ddd;
}

.movie-details .movie-rating-stars i {
  color: #ddd;
}

.table-responsive > .text-center {
  background-color: #181818;
  overflow-x: hidden !important;
}

.table-responsive > .mt-20.text-center {
  background-color: #222222;
}

.table-responsive > .mt-20.text-center .btn {
  background-color: #181818;
}

.table-responsive .badge-user i.fas.fa-download {
  color: #3fb618;
}

.table-responsive .badge-user i.fas.fa-file {
  color: #2780e3;
}

.table-responsive .badge-user i.fas.fa-heart {
  color: #ff0039;
}

.table-responsive .badge-user i.fal.fa-bookmark {
  color: #ff7518;
}

.table-responsive .badge-user i.fas.fa-list-ol {
  color: #ffb800;
}

.table .btn i {
  color: var(--color-blue);
}

.table .badge-extra > i.fas.fa-fw.fa-arrow-up {
  color: #3fb618;
}

.table .badge-extra > i.fas.fa-fw.fa-arrow-down {
  color: #ff0039;
}

.table .badge-extra.text-red {
  color: #ddd;
}

.table .badge-extra > i.fas.fa-fw.fa-check {
  color: #2780e3;
}

.container > .block,
.container > .well {
  background: #222222;
}

.decoda-code {
  background-color: #181818;
  color: #ddd;
  border-color: #222222;
}

.table td > span.badge-extra.text-green.text-bold {
  color: #3fb618;
}

.tab-pane.fade.active.in span.badge-extra.text-green.text-bold {
  color: #ddd;
}

.table td > span.badge-extra.text-red.text-bold {
  color: #ff0039;
}

.table td > span.badge-extra.text-orange.text-bold {
  color: #ff7518;
}

.table a[href*='peers'] > span.text-green {
  color: #3fb618;
}

.table a[href*='peers'] > span.text-red {
  color: #ff0039;
}

.table a[href*='history'] > span.text-orange {
  color: #2780e3;
}

.table-responsive .badge-extra i.fas.fa-thumbs-up {
  color: #ffb800;
}

.container .block a[href*='settings'],
.container .block a[href*='users'],
.container .block a[href*='edit'] .btn,
.container .block a[href*='bonus'],
.container .block a[href*='achievements'] {
  background-color: #fff;
}

.container .comments-list a[href*='users'] {
  background-color: rgba(0, 0, 0, 0);
}

.button-right-large span {
  color: #ddd;
  background-color: #181818;
}

.button-right-large > .badge-float > .fas.fa-upload {
  color: #3fb618;
}

.button-right-large > .badge-float > .fas.fa-download {
  color: #ff0039;
}

.button-right-large > .badge-float > .text-red {
  color: #ff0039;
}

.button-right-large > .badge-float > .fas.fa-cloud-upload {
  color: #3fb618;
}

.button-right-large > .badge-float > .text-green {
  color: #3fb618;
}

.button-right-large > .badge-float > .fas.fa-cloud-download {
  color: #ff0039;
}

.panel-footer.text-center {
  background-color: #222222;
}

.form-control {
  background-color: #222222;
  color: #ddd;
}

.btn[name='tip'] {
  background-color: #181818;
}

#search.form-control.facetedSearch,
#description.form-control.facetedSearch,
#uploader.form-control.facetedSearch,
#imdb.form-control.facetedSearch,
#tvdb.form-control.facetedSearch,
#tmdb.form-control.facetedSearch,
#mal.form-control.facetedSearch,
#igdb.form-control.facetedSearch,
#start_year.form-control.facetedSearch,
#end_year.form-control.facetedSearch {
  background-color: #181818;
}

.mt-5.col-sm-1.label.label-default.fatten-me {
  background-color: #181818;
  padding: 8px;
}

.fatten-me > .col-sm-10 > span.badge-user {
  background-color: #181818;
  padding: 8px;
}

.col-sm-2 > #qty {
  background-color: #181818 !important;
}

.box .col-sm-10 span.fa-play {
  color: #ff7518;
}

.box .col-sm-10 span.fa-tachometer {
  color: #a661dc;
}

.block > .button-holder > .button-left .btn {
  background-color: #181818;
}

.block > .button-holder > .button-right .btn {
  background-color: #181818;
}

.mt-5 .form-control.facetedSearch#query {
  background-color: #181818;
}

.block > .table-responsive > .table tr span.badge-extra.text-red {
  color: #ff0039 !important;
}

.block > .table-responsive > .table tr span.badge-extra.text-orange {
  color: #ffb800 !important;
}

.block > .table-responsive > .table tr span.text-green {
  color: #3fb618 !important;
}

.block > .table-responsive > .table tr span.badge-extra.text-blue {
  color: #ff7518 !important;
}

.block > .table-responsive > .table tr span.badge-user.group-member {
  color: #ddd;
}

.profile-footer {
  background-color: #181818;
}

.form-control.userFilter#search {
  background-color: #181818;
}

select,
select option {
  background-color: #181818 !important;
}

.button-left-large .btn {
  background-color: #181818;
}

.button-right-small .btn {
  background-color: #181818;
}

.button-holder .button-right .badge-user {
  background-color: #181818;
}

.button-holder .button-right .badge-user .text-red {
  color: #ff7518;
}

.button-holder .button-right .badge-user .text-orange {
  color: #ff7518;
}

.button-holder .button-right .badge-user .text-green {
  color: #3fb618;
}

.button-holder .button-right .badge-user .text-blue {
  color: #ff7518;
}

.tab-pane .well.text-center {
  background-color: #181818;
}

.well .form-group input,
.well .form-control {
  background-color: #181818;
  margin-bottom: 10px;
}

.col-md-10 > .block .form-group .form-control {
  background-color: #181818;
}

.col-md-10 > .block .btn.btn-primary {
  background-color: #181818;
}

.torrent .upload-form .form-control {
  background-color: #181818;
}

.upload-form .btn.btn-success {
  background-color: #181818;
}

.torrent > .alert > p,
.alert > ul {
  color: #fff;
}

.torrent > .alert-info {
  border-color: var(--color-blue);
}

.container .block a[href*='settings'],
.container .block a[href*='users'],
.container .block a[href*='edit'] .btn,
.container .block a[href*='bonus'],
.container .block a[href*='achievements'] {
  background-color: #181818;
}

.container .comments-list a[href*='users'] {
  background-color: rgba(0, 0, 0, 0);
}

.container .block span.badge-user a {
  background-color: rgba(0, 0, 0, 0);
}

.button-right-decreased button {
  background-color: #181818;
}

.block > .table-responsive > .table .list-inline.mb-0 .badge-extra span.text-green {
  color: var(--color-blue) !important;
}

.block > .table-responsive > .table .list-inline.mb-0 .badge-extra span.text-pink {
  color: var(--color-blue) !important;
}

#hoeapp-container[hoe-color-type='lpanel-bg5'].hoe-minimized-lpanel
  #hoe-left-panel
  .panel-list
  > li.hoe-has-menu:focus
  > a,
#hoeapp-container[hoe-color-type='lpanel-bg5'].hoe-minimized-lpanel
  #hoe-left-panel
  .panel-list
  > li.hoe-has-menu:hover
  > a {
  border-radius: 0px 4px 0px 0px;
  background: #181818;
}

#hoeapp-container[hoe-color-type='lpanel-bg5']
  #hoe-left-panel
  .panel-list
  ul.hoe-sub-menu
  li
  > a {
  color: rgb(141, 141, 148);
  background: #181818;
  border-top: 1px solid rgb(31, 31, 42);
}

#hoeapp-container[hoe-color-type='lpanel-bg5']
  #hoe-left-panel
  .panel-list
  li.hoe-has-menu
  > ul.hoe-sub-menu
  li
  > a:focus,
#hoeapp-container[hoe-color-type='lpanel-bg5']
  #hoe-left-panel
  .panel-list
  li.hoe-has-menu
  > ul.hoe-sub-menu
  li
  > a:hover {
  color: rgb(255, 255, 255);
  background: #181818;
}

.form-torrent-search.form-bordered .form-group input {
  background-color: #181818;
}

.form-torrent-search.form-bordered .form-group .col-sm-1.label.label-default {
  background-color: #181818;
}

.form-torrent-search.form-bordered > .form-group .col-sm-10 > .badge-user {
  background-color: #181818;
}

.container > div.stats {
  background-color: #222222;
}

i.fas.fa-coins {
  color: #fff;
}

i.icon-dislike.fas.fa-thumbs-down.fa-2x {
  color: #ff0039;
}

.nav.nav-tabs.mb-5 a[href*='topseeded'] i {
  color: #3fb618;
}

.nav.nav-tabs.mb-5 a[href*='topleeched'] i {
  color: #ff0039;
}

.nav.nav-tabs.mb-5 a[href*='dyingtorrents'] i {
  color: #ff0039;
}

.nav.nav-tabs.mb-5 a[href*='deadtorrents'] i {
  color: #ffb800;
}

.container.box .text-center > .col-md-12 > span.badge-user {
  background-color: #181818;
}

.container.box > .text-center form button.btn.btn {
  background-color: #181818;
}

.rss-table i.fas.fa-times.text-red {
  color: #ff0039;
}

.col-sm-2.col-lg-2 > .block > .nav.nav-list {
  background-color: #181818;
}

.col-sm-2.col-lg-2 > .block {
  background-color: #181818;
}

.col-sm-2.col-lg-2 .nav-header.head {
  background-color: #222;
}

.black-list .black-item {
  background-color: #222222;
}

#result > .table-responsive .table i.fas.fa-times-circle {
  color: #ff0039;
}

#result > .table-responsive .table i.fas.fa-hand-paper {
  color: #ffb800;
}

#result > .table-responsive .table i.fas.fa-check-circle {
  color: #3fb618;
}

#content.form-control {
  background-color: #181818;
}

.btn-vote-request i.fas.fa-hand-paper {
  color: #fff;
}

#btn_fulfil_request i.fas.fa-link {
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #181818;
}

::-webkit-scrollbar-thumb {
  background: var(--color-blue);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-blue);
}

ul.list-inline .fas.fa-database {
  color: #ff7518;
}

ul.list-inline .fas.fa-clock {
  color: #ffb800;
}

ul.list-inline .fas.fa-arrow-up {
  color: #3fb618;
}

ul.list-inline .fas.fa-arrow-down {
  color: #ff0039;
}

ul.list-inline .fas.fa-check-square {
  color: #2780e3;
}

.show-trailer a {
  color: #ddd;
}

.block > a.btn.btn {
  background-color: #181818;
}

#autotmdb {
  background-color: #181818;
}

#autoimdb {
  background-color: #181818;
}

#autotvdb {
  background-color: #181818;
}

input[name='mal'] {
  background-color: #181818;
}

input[name='igdb'] {
  background-color: #181818;
}

input[name='bounty'] {
  background-color: #181818;
}

button[type='submit'] {
  background-color: #181818;
}

input[type='text'].form-control {
  background-color: #181818;
}

.container-fluid.p-0.some-padding {
  background-color: #222222;
}

.text-primary {
  color: var(--color-blue);
}

.fas.fa-coins.text-gold {
  color: var(--color-blue);
}
